// Font
$font-family-base: "Droid Sans", 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-family-sans-serif: $font-family-base;

// Font size
$font-size-root: 1rem;
$font-size-base: 16px;

// Sizes
$font-weight-default: 300;
$padding: $font-size-base;
$spacer-y: 10px;

// Colors
$main-color: #0181CA;

$nb-color: 5;

$color1: $main-color;
$color2: #F9B233;
$color3: #00A099;
$color4: #E6381C;
$color5: #5F5E5E;

$color-list: ($color1, $color2, $color3, $color4, $color5);

// Titles
$font-size-h1: rem(floor(($font-size-base * 2.6)));
$font-size-h2: rem(floor(($font-size-base * 2.15)));
$font-size-h3: rem(ceil(($font-size-base * 1.7)));
$font-size-h4: rem(ceil(($font-size-base * 1.25)));
$font-size-h5: rem($font-size-base);
$font-size-h6: rem(ceil(($font-size-base * 0.85)));
