<div class="container" fxLayout="row" fxLayoutAlign="start none" fxLayout.xs="column" fxLayout.sm="column">
    <md-card fxFlex="60" class="welcome">
        <h1>
            Bienvenue <i class="fa fa-smile-o" aria-hidden="true"></i>
        </h1>
        <p>
            Merci de vous identifier pour accéder à Jarvis
        </p>
    </md-card>
    <md-card fxFlex>
        <form  name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
            <md-form-field class="example-full-width">
                <input mdInput placeholder="Nom d'utilisateur" required [disabled]="loading" name="username" #username="ngModel" [(ngModel)]="model.username" autofocus="autofocus" autocapitalize="off" autocorrect="off" type="text">
            </md-form-field>

            <md-form-field class="example-full-width">
                <input mdInput placeholder="Mot de passe" required [disabled]="loading" name="password" #password="ngModel" [(ngModel)]="model.password" type="password">
            </md-form-field>

            <button md-raised-button color="primary" type="submit">
                Se connecter
            </button>
        </form>
    </md-card>
</div>
