<div class="form__header">
    <div class="row">
        <div class="col-md-8 col-lg-8">
            <!--<alert type="warning" *ngIf="displayWarning">
                <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> {{'form.messages.warning_modified' | translate}}
            </alert>-->
        </div>
       <!-- <div class="col-md-4 col-lg-4">
            <button class="btn btn-raised btn-warning pull-right" type="button" (click)="cancel()">{{ 'form.buttons.cancel' | translate }}</button>
            <button class="btn btn-raised btn-success pull-right" type="submit" [disabled]="disabledValidate">{{ 'form.buttons.validate' | translate }}</button>
        </div> -->
    </div>

    <hr/>
</div>
