@import "../../../assets/scss/variables-mixins";

header {
    &.navbar {
        padding: 0 20px;
        z-index: 100;
        margin-bottom: 0;
        min-height: $header-height;
        background-color: #fff;
        border: none;
        border-bottom: 1px solid #eee;
        transition-duration: $menu-transition-duration;
        box-shadow: 0px 0px 15px 0px #ccc;
    }
}
