<!--<app-panel color="danger" [displayFullscreen]="false" [displayClose]="false">
    <app-panel-title>404</app-panel-title>
    <app-panel-body>
        <p>The page you are looking for does not exist</p>

        <p>
            Go back to the previous page and try again.
            If you think something is broken, report a problem.
        </p>

        <p>
            <a href="mailto:contact@insidegroup.fr" target="_blank">Report a problem</a>
        </p>
    </app-panel-body>
</app-panel>-->
