<app-bordered [color]="colors.green">
    <h2>Présentation</h2>
</app-bordered>

<div class="well">
    <form>
        <fieldset>
            <legend>Formulaire</legend>
            <div class="form-group label-floating">
                <label for="inputEmail" class="control-label">Email</label>
                <input type="email" class="form-control" id="inputEmail">
            </div>
            <div class="form-group label-floating">
                <label for="inputPassword" class="control-label">Mot de passe</label>
                <input type="password" class="form-control" id="inputPassword">
            </div>
            <div class="form-group">
                <button type="button" class="btn btn-raised btn-danger">Annuler</button>
                <button type="submit" class="btn btn-raised btn-primary">Envoyer</button>
            </div>
        </fieldset>
    </form>
</div>
